/* || Inter font */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* || Root colors*/

:root {
  --primary-color: #5F2EEA;
  --bg-color: #E5E5E5;
  --secondary-color: #FFFFFF;
}
