/* || Inter font */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); /* ⇦ Font style global dapat dipakai dihalaman mana saja*/

/* || Root colors*/

:root {
  --primary-color: #5f2eea;
  --bg-color: #e5e5e5;
  --secondary-color: #ffffff;
<<<<<<< HEAD
}
=======
} /* ⇦ Color style global dapat dipakai dihalaman mana saja*/
>>>>>>> 81f1ef6916c05d30806159bf2145c6c9702d08c8
