.main {
  font-family: "Mulish", sans-serif;
  max-width: 1200px;
  margin: auto;
}
.desc-main {
  /* background-color: aquamarine; */
  width: 74.7%;
}
.right-content {
  float: left;
  /* background-color: yellow; */
}
.firsttwo {
  padding-top: 4%;
  width: fit-content;
}
.sectwo {
  width: fit-content;
}
.section-first,
.section-second,
.section-third {
  padding: 0 1rem;
}

.section-first {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  /* background-color: #0853d7; */
}

.desc-secondary {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.desc-secondary span {
  position: relative;
  width: 15rem;
}
.release {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.75px;

  color: #8692a6;
}
.bef-rel {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */

  letter-spacing: 0.75px;

  color: #121212;
}
.h3-main {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  /* identical to box height, or 106% */

  letter-spacing: 1px;

  /* Text - Title */

  color: #14142b;
}

.genre {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  /* identical to box height, or 189% */

  text-align: center;
  letter-spacing: 0.75px;

  /* Text - Body */

  color: #4e4b66;
}

.desc-secondary span p:nth-child(1) {
  color: #8692a6;
  font-weight: 600;
}

.desc-secondary span p:nth-child(2) {
  color: #121212;
  font-size: 14px;
}

.desc-detail {
  display: flex;
  flex-direction: column;
}

.desc-image {
  /* border: 1px solid darkgoldenrod; */
  padding: 2rem;
}

.desc-image .image {
  /* border: 1px solid darkorange; */
  height: 358px;
  width: 232px;
  border-radius: 4px;
}

/* .casts {
} */

/* .desc {
  display: flex;
  flex-direction: row;
} */

.desc-secondary span {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .desc-detail {
  border: 1px solid darkgreen;
} */

.synopsis {
  display: flex;
  flex-direction: column;
  background-color: #6b6b6b;
}

.synopsis h3 {
  font-size: 24px;
  font-weight: 600;
}

/* .synopsis p {
  text-align: justify;
} */

.section-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f8;
  padding: 1rem;
  gap: 1rem;
}

.section-third h1 {
  font-size: 24px;
  font-weight: 600;
}

/* .date-and-location {
} */

.tickets-section {
  /* border: 1px solid darkgoldenrod; */
  width: 100%;
}

.tickets-list {
  /* border: 1px solid darkred; */
  padding-left: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 1rem;
}

/* .ticket {
} */

.ticket__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ticket__content__header {
  /* border: 1px solid darkgoldenrod; */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
/* 
.ticket-image-section {
} */

.ticket-image {
  width: 147px;
  height: 59px;
}

.ticket {
  /* border: 1px solid darkorchid; */
  list-style: none;
  width: 23.8125rem;
  height: 21.875em;
  padding: 1.5rem;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(186, 186, 186, 0.24);
  border-radius: 8px;
}

/* .ticket-desc {
} */

.ticket-desc p {
  margin-bottom: 0;
}

.ticket-desc__title {
  font-weight: 600;
}

.ticket-desc__location {
  color: #6e7191;
  font-size: 12px;
}

.date-and-location {
  /* border: 1px solid darkgoldenrod; */
  padding: 1rem 10rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.schedule {
  display: flex;
  flex-direction: row;
}

.location {
  display: flex;
  flex-direction: row;
}

.schedule-input,
.select-location {
  width: 12rem;
}

.schedule-input {
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  background: #eff0f6;
}

.select-location {
  padding: 0.5rem 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  background: #eff0f6;
}

/* .tickets-section {
  border: 1px solid darkred;
} */
.timeset {
  font-size: smaller;
  margin-top: 5%;
}
.timesets {
  margin-top: 5%;
  font-size: smaller;
}
.date {
  /* background-color: #4e4b66; */
  margin-left: -12%;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price p {
  font-size: 14px;
}

.price p:nth-child(1) {
  color: #6b6b6b;
}

.price p:nth-child(2) {
  font-weight: 600;
}

.date li {
  list-style: none;
}

.btn-tickets-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-tickets-section p {
  margin-bottom: 0;
}

.btn-book {
  background: var(--primary-color);
  color: #f7f7fc;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
}

.btn-tickets-section p {
  /* border: 1px solid darkcyan; */
  color: var(--primary-color);
  font-weight: 700;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.pagination ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  gap: 1.5rem;
}

.pagination ul li {
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgba(95, 46, 234, 0.24);
}

.movie-spesific-to-image {
  cursor: pointer;
}
.cast-content {
  text-align: left;
}
.synop {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  /* identical to box height, or 170% */

  letter-spacing: 0.5px;

  color: #000000;
}
.story {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: justify;
  /* or 200% */
  letter-spacing: 0.75px;
  /* Text - Body */
  color: #4e4b66;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .tickets-list {
    overflow-x: auto;
    justify-content: flex-start;
  }
  .desc-main {
    width: 100%;
    /* background-color: #14142b; */
  }
  .catagory-content {
    text-align: center;
    /* background-color: #14142b; */
    width: 100%;
  }
  .firsttwo {
    margin: auto;
    /* background-color: #14142b; */
    /* width: 100%; */
  }
  .sectwo {
    margin: auto;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .section-first {
    flex-direction: column;
  }
  .desc-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .desc-detail h3,
  .desc-detail p {
    text-align: center;
  }

  .desc-secondary span p:nth-child(1) {
    font-weight: 700;
  }

  .tickets-list {
    overflow-x: auto;
    justify-content: flex-start;
  }

  .desc-secondary {
    align-items: center;
  }

  .desc-secondary span p {
    text-align: center;
  }
}

@media all and (max-width: 428px) {
  .section-first {
    /* background-color: #6b6b6b; */
    flex-direction: column;
    justify-content: center;
  }
  .desc-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .desc-detail h3,
  .desc-detail p {
    text-align: center;
  }

  .tickets-list {
    overflow-x: auto;
    justify-content: flex-start;
  }

  .schedule-input,
  .select-location {
    width: 10.5rem;
  }

  .synopsis p {
    text-align: justify;
  }

  .date-and-location {
    width: 100%;
    padding: 0;
  }

  .section-third {
    gap: 1.5rem;
  }
  .catagory-content {
    text-align: center;
  }
  .desc-main {
    /* background-color: #14142b; */
    width: 100%;
  }
  .befor-rilis {
    /* background-color: yellow; */
    text-align: center;
    margin-left: 14%;
  }
  .release {
    /* text-align: center; */
    /* margin: auto; */
  }
  .firsttwo {
    margin: auto;
    width: 100%;
    /* background-color: #4e4b66; */
  }
  .desc-container {
    /* padding-left: 10%; */
    /* background-color: gray; */
    width: 100%;
    margin-left: 3%;
  }
  .right-content {
    text-align: center;
    margin-left: 13.5%;
  }
  .sectwo {
    text-align: center;
    margin-left: 13%;
  }
}
